<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1075057207551-2dlaf3vl97pgfdg0o9b26a5r9ls4ehh3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1075057207551-2dlaf3vl97pgfdg0o9b26a5r9ls4ehh3</string>
	<key>API_KEY</key>
	<string>AIzaSyB_U-QOCDuoKhd92iv3tUanyGkWnnOHnKc</string>
	<key>GCM_SENDER_ID</key>
	<string>1075057207551</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.project</string>
	<key>PROJECT_ID</key>
	<string>finproject-9c5c6</string>
	<key>STORAGE_BUCKET</key>
	<string>finproject-9c5c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1075057207551:ios:1652ca8287e2b0a4e704ca</string>
</dict>
</plist>